#appContainer{
  flex: 3 1 100px;
  width: 100%;
  display: flex;
  flex-direction: column;

    .gallery {
        
        display: flex;
        flex: 1;

        .galleryMaybe {
          
          display: flex;
          flex: 1;

            .slick-list {
                
                display: flex;
                flex: 1;

              .slick-track{
                
                display: flex;
                flex: 1;

                  .slick-slide{
                    height: 100%;
                    width: 100%;
                    background: white;

                      img {
                          margin: 0 auto;
                          height: 100%;

                      }
                  }

              }
            }

        }
    }

   // End Open Gallery
  
  // Contact Styles
  .contact{
    border-bottom: 2px solid #38230E;
    display: flex;
    flex: 1; 
    flex-direction: column;

      .controls{
        display: flex;
        align-self: center;
        margin: 1%;

          button{
            flex: 1; 
            font-size: 2vw;
            height: 100%;

          }
      }
      .contact-info{
        display: flex;
        flex-direction: column;
        align-self: center;

          h1{
            text-align: center;
            font-size: 3vw;
          }
          span{
            margin-top: 1%;
            font-size: 2vw;
            align-self: center;
          }
      }
  }      
}