html {
  overflow: hidden;
  height: 100%; }

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  background: #F6EEC5; }

h1, p, a, span {
  color: #38230E;
  font-family: 'Merriweather', serif; }

.theBigWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .theBigWrapper .header {
    display: flex;
    align-self: center;
    flex-direction: column;
    flex: 1 1 100px;
    width: 100%;
    margin: 0 0 1% 0; }
    .theBigWrapper .header h1 {
      text-align: center;
      font-size: 3vw; }
    .theBigWrapper .header .order {
      display: flex;
      align-self: center;
      flex-direction: column; }
      .theBigWrapper .header .order .countContainer {
        display: flex;
        align-self: center; }
        .theBigWrapper .header .order .countContainer span {
          font-size: 4vw; }
      .theBigWrapper .header .order .orderButtonBox {
        align-self: center;
        display: flex;
        margin: 2% 0;
        width: 100%; }
        .theBigWrapper .header .order .orderButtonBox button {
          width: 50%;
          margin: 0 auto;
          height: 100%; }
          .theBigWrapper .header .order .orderButtonBox button a {
            font-size: 3vw;
            text-decoration: none; }
  .theBigWrapper #appContainer {
    flex: 3 1 100px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .theBigWrapper #appContainer .gallery {
      display: flex;
      flex: 1; }
      .theBigWrapper #appContainer .gallery .galleryMaybe {
        display: flex;
        flex: 1; }
        .theBigWrapper #appContainer .gallery .galleryMaybe .slick-list {
          display: flex;
          flex: 1; }
          .theBigWrapper #appContainer .gallery .galleryMaybe .slick-list .slick-track {
            display: flex;
            flex: 1; }
            .theBigWrapper #appContainer .gallery .galleryMaybe .slick-list .slick-track .slick-slide {
              height: 100%;
              width: 100%;
              background: white; }
              .theBigWrapper #appContainer .gallery .galleryMaybe .slick-list .slick-track .slick-slide img {
                margin: 0 auto;
                height: 100%; }
    .theBigWrapper #appContainer .contact {
      border-bottom: 2px solid #38230E;
      display: flex;
      flex: 1;
      flex-direction: column; }
      .theBigWrapper #appContainer .contact .controls {
        display: flex;
        align-self: center;
        margin: 1%; }
        .theBigWrapper #appContainer .contact .controls button {
          flex: 1;
          font-size: 2vw;
          height: 100%; }
      .theBigWrapper #appContainer .contact .contact-info {
        display: flex;
        flex-direction: column;
        align-self: center; }
        .theBigWrapper #appContainer .contact .contact-info h1 {
          text-align: center;
          font-size: 3vw; }
        .theBigWrapper #appContainer .contact .contact-info span {
          margin-top: 1%;
          font-size: 2vw;
          align-self: center; }
  .theBigWrapper .dashContainer {
    display: flex;
    flex-direction: row;
    background: white;
    flex: 4 1 100px;
    width: 96%;
    align-self: center;
    margin-bottom: 2%; }
    .theBigWrapper .dashContainer .orderForm {
      display: flex;
      flex-direction: column;
      width: 50%; }
    .theBigWrapper .dashContainer .orderPreview {
      width: 49%;
      height: 96%;
      margin: 1%;
      border: 1px solid black;
      display: flex;
      flex-direction: column; }

/*# sourceMappingURL=style.css.map */
