@import "browserSizes";

.openGallery-enter{
  transition: all 1s;
}

.slideInPictures-appear{
  transition: all 1s;
  flex: 0;
  transform: translateX(-200%);

    @media #{$iphone6Plus_portrait, $iphone_portrait}{
      transition: all 1s;
      transform: translateX(0%);
    }
}

.slideInPictures-appear-active{
  transform: translateX(0%);  
 
}
